@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,600;0,700;1,400&family=Roboto:wght@400;500&display=swap");

/*******************  Contact Section ****************/
.location-tab li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.location-tab li:not(:last-child):after {
  content: "";
  width: 5px;
  height: 5px;
  opacity: 0.2;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 40px;
  background: var(--heading-color);
}
@media only screen and (max-width: 575px) {
  .location-tab li:not(:last-child):after {
    margin-left: 25px;
    margin-right: 25px;
  }
}
.location-tab li a {
  font-size: 35px;
  position: relative;
  padding-bottom: 15px;
  font-family: "Cormorant Garamond", serif;
}
@media only screen and (max-width: 375px) {
  .location-tab li a {
    font-size: 25px;
  }
}
.location-tab li a:after {
  opacity: 0;
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: 0.5;
  -o-transition: 0.5;
  transition: 0.5;
  width: 45px;
  height: 3px;
  background: var(--primary-color);
}
.location-tab li a.active {
  font-weight: 700;
  color: var(--heading-color);
}
.location-tab li a.active:after {
  opacity: 1;
}

.contact-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}
.contact-info-item .icon {
  width: 50px;
  font-size: 50px;
  margin-right: 30px;
  color: var(--primary-color);
}
.contact-info-item .content .title {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--heading-color);
}
.contact-info-item .content .text {
  line-height: 1.5;
}
@media only screen and (min-width: 376px) {
  .contact-info-item .content .text {
    font-size: 20px;
  }
}
.contact-info-item:not(:last-child) {
  margin-bottom: 40px;
}

.contact-page-form {
  padding: 50px;
  background: var(--lighter-color);
}
@media only screen and (max-width: 479px) {
  .contact-page-form {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.contact-page-form .form-group {
  margin-bottom: 20px;
}
.contact-page-form .form-group .nice-select,
.contact-page-form .form-group .form-control {
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 17px 20px;
  font-family: "Roboto", sans-serif;
}
.contact-page-form .form-group .nice-select:focus,
.contact-page-form .form-group .form-control:focus {
  -webkit-box-shadow: 0 0 0 1px var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
}
.contact-page-form .form-group .nice-select .current {
  font-weight: 400;
  color: var(--base-color);
}
.contact-page-form .form-group .nice-select:after {
  right: 20px;
  margin-top: -6px;
  border-color: var(--base-color);
}

.our-location iframe {
  height: 750px;
}
@media only screen and (max-width: 1399px) {
  .our-location iframe {
    height: 550px;
  }
}
@media only screen and (max-width: 991px) {
  .our-location iframe {
    height: 450px;
  }
}
@media only screen and (max-width: 575px) {
  .our-location iframe {
    height: 350px;
  }
}

.has-error .help-block.with-errors {
  margin-top: 5px;
  color: red;
}

#msgSubmit.h4 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

/* Testimonials Three */
.testimonials-three-slider {
  margin-left: -15px;
  margin-right: -15px;
}
.testimonials-three-slider .testimonials-item-three {
  margin-left: 15px;
  margin-right: 15px;
}
.testimonials-three-slider .slick-dots {
  margin-top: 40px;
}

.testimonials-item-three {
  padding: 35px 40px;
  background: white;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 30px;
  border-top: 3px solid var(--primary-color);
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.07);
}
@media only screen and (max-width: 767px) {
  .testimonials-item-three {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.testimonials-item-three:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: -1;
  content: "";
  border-right: 3px solid var(--primary-color);
}
.testimonials-item-three:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  z-index: -1;
  content: "";
  border-left: 3px solid var(--primary-color);
}
.testimonials-item-three .author {
  margin-bottom: 18px;
}
.testimonials-item-three .author img {
  display: inline-block;
}
.testimonials-item-three .text:before {
  content: "“";
  font-size: 35px;
  color: var(--heading-color);
}
.testimonials-item-three .testi-des {
  margin-top: 25px;
  margin-bottom: -8px;
}
.testimonials-item-three .testi-des h6 {
  margin-bottom: 0;
}
@media only screen and (min-width: 376px) {
  .testimonials-item-three .testi-des h6 {
    font-size: 20px;
  }
}
.testimonials-item-three .testi-des span {
  font-size: 14px;
}
.testimonials-item-three .ratting i {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.testimonials-item-three:hover:after {
  height: 100%;
  width: 100%;
  -webkit-animation: border 1s linear;
  animation: border 1s linear;
  border-bottom: 3px solid var(--primary-color);
}
.testimonials-item-three:hover:before {
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}


/****************** ## Instagram Area ******************/
.instagram-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.instagram-item {
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .instagram-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .instagram-item {
    width: 33.333%;
  }
  .instagram-item:first-child {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
}
@media only screen and (max-width: 767px) {
  .instagram-item {
    width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .instagram-item {
    width: 100%;
  }
}
.instagram-item img {
  width: 100%;
  height: 100%;
}
.instagram-item .content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--primary-color);
}
@media only screen and (max-width: 575px) {
  .instagram-item .content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.instagram-item .content .icon {
  line-height: 1;
  margin-bottom: 1vw;
}
.instagram-item .content .call-text {
  font-size: 1vw;
}
@media only screen and (max-width: 1199px) {
  .instagram-item .content .call-text {
    font-size: 2vw;
  }
}
.instagram-item .content hr {
  opacity: 1;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 50px;
  height: 4px;
}
.instagram-item .content h2,
.instagram-item .content .h2,
.instagram-item .content .icon {
  font-size: 2vw;
}
@media only screen and (max-width: 1199px) {
  .instagram-item .content h2,
  .instagram-item .content .h2,
  .instagram-item .content .icon {
    font-size: 30px;
  }
}
.instagram-item .instagram-gallery .icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 24px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(171, 96, 52, 0.85);
}
.instagram-item:hover .instagram-gallery .icon {
  opacity: 1;
}
.content-map-container{
  padding-left:20px;
  padding-right:20px;
  padding-top:50px ;
  padding-bottom:0px 
}

