.password-main-container{
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 20px;
  background: #000;
}
.password-forget-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 14px 28px rgba(171, 96, 52, 0.5),
  0 0px 10px rgba(171, 96, 52, 0.5);
}

.forget-h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.forget-error {
  background-color: #ff3333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.forget-success {
  background-color: #33cc33;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.forget-form {
  text-align: left;
}

.forget-form-group {
  margin-bottom: 15px;
  position: relative;
}

.forget-label {
  font-weight: bold;
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}

.forget-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.forget-button-container{
  padding-left:120px;
}
  .forget-button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .forget-button:hover {
    background-color: #ac5232;
  }