.reset-main-contaier{
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    margin: -20px 0 20px;
    background: #000;
  }

.reset-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 14px 28px rgba(171, 96, 52, 0.5),
    0 0px 10px rgba(171, 96, 52, 0.5);
  }
  
  .reset-h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .reset-error {
    background-color: #ff3333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .reset-success {
    background-color: #33cc33;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .reset-form {
    text-align: left;
  }
  
  .reset-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .rest-button-container {
    text-align: center;
  }
  
  .reset-button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #ac5232;
  }
  