.RightDetalis-container {
  width: 32.33%;
  .form-section-tour {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 50px 25px;
    background-color: rgb(249, 249, 247);
    box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.07);
    filter: drop-shadow(0 0 2px rgba(5, 0, 0, 0.3));
    border-radius: 7px;
    margin: 25px 5px;
    .label-input-div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // padding: 0px 25px;
      label {
        font: 600 16px "Prompt", sans-serif;
      }
      .chakra-input-tour {
        height: 33px;
        width: 100px;
        border: 1px solid gray;
        border-radius: 7px;
        padding-left: 3px;
        line-height: 20px;
        font-size: 18px;
        font-weight: 5 00;
        margin-bottom: 7px;
        
      }
    }
    .BookingTour {
      font-size: 22px;
      font-weight: 600;
      line-height: 1.37;
      margin: 0px;
      font-family: "Prompt", sans-serif;
    }
  }
  .btn-Booking-Now {
    display: flex;
    background-color: #63ab45;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 3px 3px 40px;
    font: 600 18px "Prompt", sans-serif;
    text-transform: capitalize;
    border-radius: 28px;
    line-height: 20px;
    border: none;
    color: white;
    transition: all 0.3s ease-out 0s;
   div  {
    display: flex;
    justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
      margin-left: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 18px;
    }
    .btn-Booking-Now:hover{
    background-color: orange;
    }
  }
}
  .Form-section-detalis {
            width: 100%;
    
            .rating-form-detalis {
                display: flex;
                border-radius: 10px;
                flex-direction: column;
                padding: 15px;
                gap: 4px;
                filter: drop-shadow(0 0 2px rgba(5, 0, 0, 0.3));
                box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.07);

                background-color: rgb(249, 249, 247);

                label {
                    width: 100%;
                    font-size: 18px;
                    font-weight: 500;
                    // color: #FFD700;
                 color: black;

                    ;
                }

                input {
                    width: 100%;
                    padding-left: 10px;
                    border-radius: 10px;
                    height: 30px;
                    border: 1px solid gray;

                }

                button {
                  display: flex;
                  background-color: #63ab45;
                  cursor: pointer;
                  display: inline-flex;
                  align-items: center;
                  justify-content: space-between;
                  padding: 3px 3px 3px 40px;
                  font: 600 18px "Prompt", sans-serif;
                  text-transform: capitalize;
                  border-radius: 28px;
                  line-height: 20px;
                  border: none;
                  color: white;
                  transition: all 0.3s ease-out 0s;
                  div  {
                    display: flex;
                    justify-content: center;
                        align-items: center;
                        background-color: white;
                        color: black;
                      margin-left: 20px;
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                      font-size: 18px;
                    }
                    .btn-Booking-Now:hover{
                    background-color: orange;
                    }
                }

                #review {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
                    padding: 0px 5px;
                    color: black;
                    font-size: 23px;
                    font-weight: 500;
                }

                p {
                    font-size: 22px;
                    color: black;
                    font-weight: 500;
                    margin-top: 5px;
                    margin-bottom: 0;
                    padding-left: 5%;
                }

                .stars {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

    