.btn-brown {
    margin-top: 20px;
    background-color: rgba(110, 70, 27, 0.831);
    color: #fff;
    border-color: rgba(110, 70, 27, 0.831);
    transition: background-color 0.3s, border-color 0.3s;
    
  }
  .btn-profile-container{
    padding-top:10%;
  }
  .btn-brown:hover {
    background-color: #6e460d;
    border-color: #6e460d;
  }
  