
.btn-brown {
    margin-top: 20px;
    background-color: #874f26;
    color: #fff;
    border-color: #794622;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .btn-profile-container{
    padding-top:1%;
  }
  .btn-brown:hover {
    background-color: #6c4712!important;
    border-color: #6c3e1c;

  }
  
  .btn-brown-2 {
    margin-top: 20px;
    background-color: #ebddce;
    color: #000000;
    border-color: #6c3e1c;
    border-style:dashed;
    border-width: 0.5px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .btn-brown-2:hover {
    background-color: #9d8d75!important;
    border-color: #6c3e1c;

  }
  

  .theCard {
    background-color: #ff893a20 !important;
    border-radius: 10px;
    border-color: #000000d2;
    box-shadow: 0 20px 40px rgb(63, 27, 4);
    animation: glowing 2s ease-in-out infinite;
    backdrop-filter: blur(50px) !important;

  }
  
  @keyframes glowing {
    0% {
      border: 2px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
      border: 2px solid rgb(255, 255, 255);
      box-shadow: 0 0 20px rgb(255, 255, 255);
    }
    100% {
      border: 2px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
  