.user-booking-info {
  padding: 10px;
  .user-info-table {
    width: 100%;
    border-collapse: collapse;
    thead {
      background-color: rgba(110, 70, 27, 0.831);
      
      color: #fff;
      th {
        padding: 8px 10px;
        text-align: left;
        font-size: 14px;
      }
    }
    tbody {
      tr {
        &:nth-of-type(even) {
          background-color: #e3bb7f;
        }
        td {
          padding: 8px 10px;
          font-size: 13px;
        }
      }
    }
  }
}
