.reset-main-contaier {
  // background: #f6f5f7;
  background-image: linear-gradient(1deg,
  rgba(1, 0, 0, 0) 18.73%,
   #45260a
  )  ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -30px 0 40px;
  // background: #000;
}
.message-container{
  margin-top: 10%;
}
.reset-password-container {
  max-width: 400px;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 14px 28px rgba(171, 96, 52, 0.5),
    0 0px 10px rgba(171, 96, 52, 0.5);
    margin-top: 6%;
}

.reset-h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.reset-error {
  background-color: #ff3333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.reset-success {
  background-color: #33cc33;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.reset-form {
  text-align: left;
  
}

// .reset-input input {
//   width: 100%;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   font-size: 16px;
//   margin-top: 5px;
//   margin-bottom: 10px;
// }

.rest-button-container {
  text-align: center;
  
}

.reset-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #ac5232;
}

.forget-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.forget-button-container {
  // padding-left:15px;
}
.forget-button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

.forget-button:hover {
  background-color: #ac5232;
}

/////

.reset-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.reset-form-group {
  position: relative;
}

.reset-form .reset-form-group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.reset-form .reset-form-group input,
.reset-form .reset-form-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.reset-form .reset-form-group input:placeholder-shown + label,
.reset-form .reset-form-group textarea:placeholder-shown + label {
  top: 10px;
  background-color: transparent;
}

.reset-form .reset-form-group input:focus,
.reset-form .reset-form-group textarea:focus {
  border-color: black;
}

.reset-form .reset-form-group input:focus + label,
.reset-form .reset-form-group textarea:focus + label {
  top: -10px;
  left: 10px;
  background-color: #fff;
  color: black;
  font-weight: 600;
  font-size: 14px;
}

.reset-form .reset-form-group textarea {
  resize: none;
  height: 100px;
}
