.main-section-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    height: 100vh;

.sidebar-btn{
    padding: 17px;
    width: 100%;
    // background-color: aquamarine;
    border-radius: 10px;
    color:white;
   font: 600 18px;    
}
.sidebar-btn:hover{
    background-color:#b37551;
}
}