.about-image-part {
    max-width: 535px; }
    .about-image-part img {
      width: 60%; }
    .about-image-part .top-part {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end; }
      .about-image-part .top-part img {
        margin-right: 3%; }
      .about-image-part .top-part .icon {
        color: white;
        font-size: 65px;
        margin-bottom: 19%;
        width: 130px;
        height: 130px;
        background: var(--primary-color);
        line-height: 130px;
        border-radius: 50%;
        text-align: center;
        -webkit-box-shadow: 0px 10px 50px rgba(171, 96, 52, 0.5);
        box-shadow: 0px 10px 50px rgba(171, 96, 52, 0.5); }
        @media only screen and (max-width: 575px) {
          .about-image-part .top-part .icon {
            width: 80px;
            height: 80px;
            font-size: 35px;
            line-height: 80px; } }
    .about-image-part .bottom-part {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: -16%; }
      .about-image-part .bottom-part .video-play-text {
        position: relative;
        margin: 22% -10% 0 10%; }
        @media only screen and (min-width: 1400px) {
          .about-image-part .bottom-part .video-play-text {
            min-width: 210px; } }
        @media only screen and (max-width: 375px) {
          .about-image-part .bottom-part .video-play-text {
            margin-left: 5%;
            margin-right: -22%; } }
  
  .about-content-part .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 25px 5px;
    background: var(--lighter-color); }
    @media only screen and (max-width: 575px) {
      .about-content-part .feature-list {
        padding-left: 15px;
        padding-right: 15px; } }
    @media only screen and (max-width: 375px) {
      .about-content-part .feature-list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .about-content-part .feature-list .feature-item {
      padding-left: 15px;
      padding-right: 15px; }
      @media only screen and (max-width: 767px) {
        .about-content-part .feature-list .feature-item {
          padding-left: 5px;
          padding-right: 5px; } }
  
  .about-author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 530px;
    padding-top: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about-author .author {
      width: 70px;
      height: 70px;
      margin-top: 25px;
      border-radius: 50%;
      margin-right: 25px; }
      @media only screen and (max-width: 375px) {
        .about-author .author {
          width: 40px;
          height: 40px;
          margin-right: 10px; } }
    .about-author .description {
      margin-top: 25px;
      margin-right: auto; }
      .about-author .description h5 {
        margin-bottom: 0;
        line-height: 1.1; }
        @media only screen and (max-width: 375px) {
          .about-author .description h5 {
            font-size: 20px; } }
      .about-author .description span {
        font-size: 14px; }
    .about-author .signature {
      margin-top: 25px; }
  
  /* About Three */
  .about-three-image-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .about-three-image-part .first-image {
      width: 30%;
      z-index: 2;
      position: relative; }
    .about-three-image-part .middle-image {
      width: 70%;
      z-index: 1;
      margin-top: 6%;
      margin-left: -12%;
      padding-bottom: 12%;
      position: relative; }
      .about-three-image-part .middle-image img {
        border-radius: 50%; }
    .about-three-image-part .last-image {
      width: 30%;
      -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
      margin-left: -18%; }
    .about-three-image-part img {
      width: 100%; }
    .about-three-image-part .video-play {
      position: absolute;
      right: 10%;
      top: 10%;
      z-index: 3;
      color: white;
      font-size: 16px;
      border-radius: 0; }
      @media only screen and (min-width: 576px) {
        .about-three-image-part .video-play {
          width: 80px;
          height: 80px;
          line-height: 80px; } }
      @media only screen and (max-width: 479px) {
        .about-three-image-part .video-play {
          top: 5%;
          right: 5%; } }
  
  @media only screen and (min-width: 1400px) {
    .about-content-three {
      padding-left: 100px; } }
  
  .about-content-three .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .about-content-three .feature-list .feature-item {
      width: 100%;
      margin-bottom: 20px; }
      @media only screen and (min-width: 480px) {
        .about-content-three .feature-list .feature-item {
          width: 48%; } }
  
  /* About Page */
  .about-page-right {
    padding: 65px 60px 1px; }
    @media only screen and (max-width: 767px) {
      .about-page-right {
        padding-left: 25px;
        padding-right: 25px; } }
    @media only screen and (max-width: 479px) {
      .about-page-right .feature-item.style-two {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .about-page-right .feature-item.style-two .icon {
          margin-bottom: 25px; } }
  